@import url('styles.css');

body {
    font-family: 'Press Start 2P', cursive; /* Retro game font */
    background-color: #1a1a1a;
    background-image: url('/static/img/cadillacs-pattern.png');
    background-size: 100%;
}

header {
    background-color: #0d0d0d;
    border-bottom: 2px solid #00cc00; /* Green border */
}

.toggle-label {
    font-size: 16px;
    color: #e0e0e0;
}

.toggle-switch {
    background-color: #333;
}

.toggle-switch::before {
    background-color: #00cc00; /* Green slider */
}

.toggle-label input:checked + .toggle-switch {
    background-color: #009900; /* Darker green */
}

.toggle-label input:checked + .toggle-switch::before {
    transform: translateX(20px);
}

.game-banner {
    border: 2px solid #00cc00; /* Green border */
}

.tab-link {
    background-color: #FF5D2C; /* Orange */
}

p {
    color: #00B14D; /* Grey text */
}

select {
    font-family: 'Press Start 2P', cursive; /* Retro game font */
}

h1 {
    color: #FE0000; /* Red text */
}

button {
    background-color: #FF5D2C; /* Orange */
    color: #fff;
}

button:hover {
    background-color: #00cc00; /* Lighter green */
}