@import url('styles.css');

/* General page styling */
body {
    font-family: 'UnifrakturMaguntia', sans-serif; /* Use a vintage-style sans-serif font */
    background-color: #1a1a1a;
    background-image: url('/static/img/wolfenstein-pattern.png'); /* Replace with a gritty, metallic pattern */
    background-size: 100%;
    color: #d4d4d4;
}

/* Header styling */
header {
    background-color: #111;
    border-bottom: 2px solid #82123b;
}

.banner {
    filter: sepia(1) contrast(1.2) brightness(0.9);
}

/* Toggle switch styling */
.toggle-label {
    font-size: 18px;
    color: #d4d4d4;
}

.toggle-switch {
    width: 50px;
    height: 24px;
    background-color: #555;
    border-radius: 24px;
    border: 1px solid #82123b;
}

.toggle-switch::before {
    width: 22px;
    height: 22px;
    background-color: #82123b;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.toggle-label input:checked + .toggle-switch {
    background-color: #4d4749ff;
}

.toggle-label input:checked + .toggle-switch::before {
    transform: translateX(26px);
}

/* Game section styling */
.game {
    border: 2px solid #82123b;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.game-banner {
    filter: sepia(1) contrast(1.1);
}

/* Headings with a vintage look */
h1 {
    font-family: 'UnifrakturMaguntia', sans-serif;
    font-size: 24px;
    color: #e1b1b1;
    border-bottom: 2px solid #82123b;
}

/* Paragraphs */
p {
    font-family: 'UnifrakturMaguntia', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    color: #d4d4d4;
}

/* Dropdowns */
select {
    font-family: 'UnifrakturMaguntia', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    color: #d4d4d4;
}

/* Buttons with Wolfenstein style */
button {
    background-color: #82123b;
    color: #fff;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-family: 'UnifrakturMaguntia', sans-serif;
}

button:hover {
    background-color: #b52b3a;
    border-color: #fff;
}